body{
	background:url('my.jpg') no-repeat;
	background-size: cover;
	font-family: Arial;
	color: white;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul li{
	float: left;
	width: 250px;
	height: 40px;
	background-color: grey;
	opacity: 0.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 15px;
}
ul li a{
	text-decoration: none;
	color: black;
	display: block;
}
ul li a:hover{
	background-color: white;
}

ul li ul li{
	display: none;
}

ul li:hover ul li{
	display: block;
}